<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm a sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div><button (click)="sidenav.toggle()">Toggle Sidnav</button></div>
      <div>LOGO</div>
      <div>
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/training">Training</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
