<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
      <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Select workout" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises | async" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
